h1 {
    font-family: 'Lobster', cursive;   /* Fuente personalizada */
    font-size: 3em;                    /* Tamaño del texto */
    color: #0038A8;                    /* Color de texto */
    text-align: center;                /* Alineación centrada */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);  /* Sombra de texto */
    text-transform: uppercase;         /* Todo en mayúsculas */
    letter-spacing: 2px;               /* Espaciado entre letras */
    font-weight: bold;                 /* Texto en negrita */

/* Bandera de Paraguay */
.bandera {
    position: absolute;
    top: 0;
    width: 80px; /* Ajusta el tamaño de la bandera */
    height: 100vh; /* Hace que la bandera ocupe toda la altura de la ventana */
    z-index: -1; /* Coloca las banderas detrás del contenido */
    object-fit: cover;
}

/* Bandera izquierda */
.left-flag {
    left: 0;
}

/* Bandera derecha */
.right-flag {
    right: 0;}
footer p {
    font-size: 0.9em; /* Reduje el tamaño del texto solo en el footer */
}
