/* Nuevas animaciones */
@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Estilo general de la página */
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
}

/* Bandera de Paraguay */
.bandera {
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

.left-flag {
    left: 0;
}

.right-flag {
    right: 0;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    color: #0038A8;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    animation: slideIn 1.5s ease-out;
}

h2, h3 {
    animation: fadeIn 2.5s ease-in-out;
}

.container {
    animation: scaleUp 1.5s ease-in-out;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
}

/* Estilo de las imágenes */
.imagenes-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.pc-img, .alumno-img, .patrocinador-img, .nueva-imagen {
    width: 40%;
    max-width: 400px;
}

/* Estilo del pie de página */
footer {
    margin-top: 20px;
    color: #0038A8;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

/* Ocultar las banderas en móviles */
@media only screen and (max-width: 768px) {
    .bandera {
        display: none;  /* Oculta las banderas en móviles */
    }
}

/* Añadir banderas al final en móviles */
@media only screen and (max-width: 768px) {
    .footer-flags {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .footer-flags img {
        width: 40px;  /* Tamaño reducido de las banderas al final de la página */
        height: auto;
        margin: 0 10px;  /* Espacio entre las banderas */
    }
}
